.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Kadai-Wrap{
  margin: 50px;
  border: 1px solid;
  padding: 10px;
  width: 30%;
}
.Kadai-Border {
  border: 1px solid; 
  width: 200px;
  margin: 20px
}
.btn {
  position: relative;
  left: 500px;
}
.susu1 {
  position: absolute;
  left: 300px;
  top: 111px;
}
.susu2 {
  position: absolute;
  left: 300px;
  top: 250px;
}
.susu3 {
  position: absolute;
  left: 300px;
  top: 330px;
}
.susu4 {
  position: absolute;
  left: 300px;
  top: 410px;
}
.susu5 {
  position: absolute;
  left: 300px;
  top: 482px;
}
.Kadai-Wrap .susu6 {
  position: absolute;
  left: 150px;
  top: -542px;
  margin: 50px;
  border: 1px solid;
  padding: 10px;
  width: 40%;
  height: 500px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
